body {
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'Geneva', 'sans-serif';
}

input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

/*
div {

}
*/

#theForm {
    background-color: #d7d7d7;
}

    #theForm input[type=submit] {
        background-color: forestgreen;
        color: white;
    }

ul.product-props li {
    list-style-type: none;
    font-size: small;
}

.product-info {
    border: 1px solid grey;
    display: inline-block;
    padding: 5px;
    padding-top: 3px;
    width: 450px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 5px;
}

    .product-info img {
        margin: 3px;
        float: left;
        border: 1px solid #000000;
        max-width: 150px;
        margin-right: 10px;
    }

#loginToggle {
    cursor: pointer;
}

.popup-form {
    margin-top: 5px;
    padding: 5px;
    border: 2px black outset;
    display: inline-block;
}

    .popup-form input {
        width: 200px;
    }

    .popup-form label {
        width: 150px;
        display: inline-block;
    }

    .popup-form input[type=checkbox], .popup-form input[type=submit] {
        width: auto;
    }

    menu li{
        display: inline;
    }

    menu li::after {
        content: ' |';
    }

    menu li:last-of-type::after {
        content: "";
    }
